@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
	font-size: 1rem;

	--fw_semiBold: 600;
	--fw_ExtraBold: 800;

	/*Introductory_Paragraph  */
	--fs: 15px;

	--SoftCyan-Full_Slider_Bar: hsl(174, 77%, 80%);
	--StrongCyan-Slider_Backround: hsl(174, 86%, 45%);
	--LightGrayishRed-Discount_Background: hsl(14, 92%, 95%);
	--LightRed-Discount_Text: hsl(15, 100%, 70%);
	--PaleBlue-CTA_Text: hsl(226, 100%, 87%);

	--White-Pricing_Component_Background: hsl(0, 0%, 100%);
	--VeryPaleBlue-Main_Background: hsl(230, 100%, 99%);
	--LightGrayishBlue-Empty_Slider_Bar: hsl(224, 65%, 95%);
	--LightGrayishBlue-Toggle_Background: hsl(223, 50%, 87%);
	--GrayishBlue-Text: hsl(225, 20%, 60%);
	--DarkDesaturatedBlue-Text_and_CTA_Background: hsl(227, 35%, 25%);

	--sliderRange: 20%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 1440px;
	margin-inline: auto;
	position: relative;

	min-height: 100vh;
	color: var(--GrayishBlue-Text);
	background-color: var(--VeryPaleBlue-Main_Background);
	/* background-color: red; */
	/* background-color: #000; */
	/* background-image: url(images/bg-pattern.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: top; */
}
#root::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50vh;
	border-radius: 0 0 0 10em;
	background-image: url(images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
.card {
	position: relative;
	margin-inline: auto;
	max-width: 500px;
	z-index: 100;
	padding: 5em 1em;
	/* display: none; */
}
header {
	margin-bottom: 3em;
	background-image: url(images/pattern-circles.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 1em 1em;
	text-align: center;
	/* border: 1px solid; */

	min-height: 10em;
	/* height: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
header h1 {
	font-weight: var(--fw_ExtraBold);
	color: var(--DarkDesaturatedBlue-Text_and_CTA_Background);
	font-size: 1.3rem;
}
header p {
	font-weight: var(--fw_semiBold);
	font-size: var(--fs);
	max-width: 250px;
	width: 100%;
	margin-inline: auto;
	line-height: 1.8;
}

.pricing {
	background-color: var(--White-Pricing_Component_Background);
	border-radius: 0.5em;
	box-shadow: 0px 0px 1em 0px rgba(0, 0, 0, 0.5);

	padding: 2em;
	font-size: 0.8rem;
  font-weight: var(--fw_ExtraBold);
}

.discount {
	background-color: var(--LightGrayishRed-Discount_Background);
	color: var(--LightRed-Discount_Text);
	padding: 0.1em .5em;
	border-radius: 50px;
}
.discount__text {
	display: none;
}
.form {
	text-align: center;
}
input[type="range"] {
	width: 100%;
	cursor: pointer;
}
.form__group--checkbox_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-top: 1.5em;
}
.form__group--checkbox {
	background-color: var(--LightGrayishBlue-Toggle_Background);
	width: 4em;
	min-height: 2em;
	/* width: 1; */
	padding: 0.5em;
	position: relative;
	display: flex;
	justify-content: flex-start;
	/* justify-content: flex-end; */
	align-items: center;
	transition: all 0.3s linear;
	border-radius: 50px;
}
.active__checkbox {
  background-color: var(--StrongCyan-Slider_Backround);
}
.form__group--checkbox label {
	background-color: var(--White-Pricing_Component_Background);
	height: 1.2em;
	width: 1.2em;
	border-radius: 50%;
	display: block;
	transition: all 0.3s linear;
	transform: translateX(0em);

	position: absolute;
	left: 5px;
	cursor: pointer;
}
.form__group--checkbox label.checked {
	left: 2.3em;
}

input[type="checkbox"] {
	display: none;
}


.pageViews {
  text-transform: uppercase;
}
.billing {
  display: flex;
  justify-content: center;
  align-items: center;

}
.billing__amount {
  font-size: 3em;
  color: var(--DarkDesaturatedBlue-Text_and_CTA_Background);
  font-weight: var(--fw_ExtraBold);
}
.features {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	margin: 2em 0 1em;
	text-align: center;
}
ul {
	list-style: none;
	margin: 1em 0;
}
li {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
}
li + li {
	margin-top: 1em;
}

.cta {
	color: var(--PaleBlue-CTA_Text);
	background-color: var(--DarkDesaturatedBlue-Text_and_CTA_Background);
	border: 0;
	padding: 1em 2em;
	border-radius: 20px;
	font-size: inherit;
  cursor: pointer;
}

.form__group--range {
	position: relative;
	/* border: 1px solid; */
	margin: 1em 0;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

/* === range theme and appearance === */
input[type="range"] {
	--track-height: 0.225em;
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
	--thumb-height: 50px;
	--thumb-width: 50px;
	--clip-edges: 0.0125em;
	--track-color: var(--LightGrayishBlue-Empty_Slider_Bar);
	font-size: 1.5rem;
	width: 100%;
	position: relative;
	overflow: hidden;
	color: var(--StrongCyan-Slider_Backround);

	border-radius: 3em;
}

input[type="range"]:active {
	cursor: grabbing;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);

	background-color: var(--StrongCyan-Slider_Backround);
	background-image: url(images/icon-slider.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
	/* border-radius: 4.9px; */
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;

	background-image: url(images/icon-slider.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
.attribution {
	font-size: 11px;
	text-align: center;
  margin-top: 5em;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* 480 768 */

@media (min-width: 700px) {
	.discount__text {
		display: inline-block;
	}
  .card {
    position: relative;
    margin-inline: auto;
    max-width: 550px;
    z-index: 100;
    padding: 5em 1em;
    /* display: none; */
  }
  .pricing {
    text-align: left;
  }
  header h1 {
    font-weight: var(--fw_ExtraBold);
    color: var(--DarkDesaturatedBlue-Text_and_CTA_Background);
    font-size: 2rem;
  }
  header p {
    font-weight: var(--fw_semiBold);
    font-size: var(--fs);
    max-width: initial;
    width: 100%;
    margin-inline: auto;
    line-height: 1.8;
  }
  .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  align-items: center;
    text-align: left;
}
.pageViews {
  grid-row: 1;
  grid-column: 1;
}
.billing {
  grid-row: 1;
  grid-column: 2;
}
.form__group--range {
  grid-row: 2;
  grid-column: 1/-1;
}
.form__group--checkbox_container {
  grid-row: 3;
  grid-column: 1/-1;
}
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
	justify-content: flex-start;
}
}
